<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="source" name="%expoint.source.name" schema="schema/source.exsd"/>
     <extension-point id="javadoc" name="%expoint.javadoc.name" schema="schema/javadoc.exsd"/>
     <extension-point id="targets" name="%expoint.target.name" schema="schema/targets.exsd"/>
     <extension-point id="executionEnvironments" name="%executionEnvExtPoint" schema="schema/executionEnvironments.exsd"/>

   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            variable="ECLIPSE_HOME"
            class="org.eclipse.pde.internal.core.EclipseHomeInitializer">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.eclipse.pde.internal.core.BinaryRepositoryProvider"
            id="org.eclipse.pde.core.BinaryRepositoryProvider">
      </repository>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.pde.internal.core.RequiredPluginsInitializer"
            id="org.eclipse.pde.core.requiredPlugins"/>
     <classpathContainerInitializer
            class="org.eclipse.pde.internal.core.ExternalJavaSearchInitializer"
            id="org.eclipse.pde.core.externalJavaSearch"/>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="ini">
      </fileTypes>
      <fileTypes
            type="text"
            extension="product">
      </fileTypes>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
      		namespace="org.eclipse.pde.core"
            properties="BundleProject"
            type="org.eclipse.core.resources.IProject"
            class="org.eclipse.pde.internal.core.expressions.BundleProjectTester"
            id="org.eclipse.pde.core.BundleProjectTester">
      </propertyTester>
   </extension>
      <extension
         point="org.eclipse.jdt.launching.executionEnvironments">
      <environment
            id="OSGi/Minimum-1.0"
            description="%environment.description.0"/>
      <environment
            id="OSGi/Minimum-1.1"
            description="%environment.description.1"/>
      <environment
            id="JRE-1.1"
            description="%environment.description.2"/>
      <environment
            id="J2SE-1.2"
            description="%environment.description.3"/>
      <environment
            id="J2SE-1.3"
            description="%environment.description.4"/>
      <environment
            id="J2SE-1.4"
            description="%environment.description.5"/>
      <environment
            id="J2SE-1.5"
            description="%environment.description.6"/>
      <environment
            id="CDC-1.0/Foundation-1.0"
            description="%environment.description.7"/>
      <environment
            id="CDC-1.1/Foundation-1.1"
            description="%environment.description.8"/>
      <environment
            id="JavaSE-1.6"
            description="%environment.description.9"/>
      <analyzer
            class="org.eclipse.pde.internal.core.ExecutionEnvironmentAnalyzer"
            id="org.eclipse.pde.core.eeAnalyzer"/>
   </extension>
      <extension
            point="org.eclipse.pde.core.targets">
         <target
               definition="targets/rcpWithSource.target"
               id="org.eclipse.pde.core.rcpWithSource"
               name="%target.name.0">
            <description>
               %target.description.0         
            </description>
         </target>
         <target
               definition="targets/rcp.target"
               id="org.eclipse.pde.core.binaryRCP"
               name="%target.name.1">
            <description>
               %target.description.1
            </description>
         </target>
      </extension>
   
</plugin>
