<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="source" name="%expoint.source.name" schema="schema/source.exsd"/>
   <!-- <extension-point id="javadoc" name="Javadoc Attachments" schema="schema/javadoc.exsd"/> -->

   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            variable="ECLIPSE_HOME"
            class="org.eclipse.pde.internal.core.EclipseHomeInitializer">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.eclipse.pde.internal.core.BinaryRepositoryProvider"
            id="org.eclipse.pde.core.BinaryRepositoryProvider">
      </repository>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.pde.internal.core.RequiredPluginsInitializer"
            id="org.eclipse.pde.core.requiredPlugins"/>
     <classpathContainerInitializer
            class="org.eclipse.pde.internal.core.ExternalJavaSearchInitializer"
            id="org.eclipse.pde.core.externalJavaSearch"/>
   </extension>

</plugin>
