<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="apitools_javadoc_proposals"
         name="%ApiToolsJavadocProposals.name"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.javaNoTypeProposalCategory"
            class="org.eclipse.pde.api.tools.ui.internal.completion.APIToolsJavadocCompletionProposalComputer">
         <partition
               type="__java_javadoc">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.pde.ui.MainPreferencePage"
            class="org.eclipse.pde.api.tools.ui.internal.preferences.ApiProfilesPreferencePage"
            id="org.eclipse.pde.api.tools.ui.apiprofiles.prefpage"
            name="%ApiProfilesPreferencePage.name">
         <keywordReference
               id="org.eclipse.pde.api.tools.ui.profiles.prefpage">
         </keywordReference>
      </page>
      <page
            category="org.eclipse.pde.ui.MainPreferencePage"
            class="org.eclipse.pde.api.tools.ui.internal.preferences.ApiErrorsWarningsPreferencePage"
            id="org.eclipse.pde.api.tools.ui.apitools.errorwarnings.prefpage"
            name="%ApiErrorsWarningsPreferencePage.name">
         <keywordReference
               id="org.eclipse.pde.api.tools.ui.apitools.errorwarnings.prefpage.keywords">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.pde.api.tools.ui.toolsetupcontribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.pde.api.tools.ui.internal.actions.ApiToolingSetupObjectContribution"
               enablesFor="+"
               helpContextId="api_tooling_setup_action"
               icon="icons/full/obj16/category_menu.gif"
               id="org.eclipse.pde.api.tools.ui.update.javadoctags"
               label="%ApiToolingSetup.name"
               menubarPath="org.eclipse.pde.ui.project.tools/group1"
               tooltip="%ApiToolingSetup.tooltip">
         </action>
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <filter
               name="projectNature"
               value="org.eclipse.pde.PluginNature">
         </filter>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.pde.api.tools.ui.configproblemfilters"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.pde.api.tools.ui.internal.actions.ConfigureProblemFiltersAction"
               enablesFor="1"
               helpContextId="api_problem_filter_configure"
               icon="icons/full/elcl16/filter_ps.gif"
               id="org.eclipse.pde.api.tools.ui.problemfilters"
               label="%ApiProblemFilters.name"
               menubarPath="org.eclipse.pde.ui.project.tools/group1"
               tooltip="%ApiProblemFilters.tooltip">
         </action>
         <filter
               name="projectNature"
               value="org.eclipse.pde.api.tools.apiAnalysisNature">
         </filter>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.pde.api.tools.ui.configproblemfilters.editor"
            nameFilter=".api_filters"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.pde.ui.project.tools"
               label="%PdeTools.name">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.pde.api.tools.ui.internal.actions.ConfigureProblemFiltersAction"
               enablesFor="1"
               helpContextId="api_problem_filter_configure"
               icon="icons/full/elcl16/filter_ps.gif"
               id="org.eclipse.pde.api.tools.ui.problemfilters"
               label="%ApiProblemFilters.name"
               menubarPath="org.eclipse.pde.ui.project.tools/group1"
               tooltip="%ApiProblemFilters.tooltip">
         </action>
         <filter
               name="projectNature"
               value="org.eclipse.pde.api.tools.apiAnalysisNature">
         </filter>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.pde.internal.ui.properties.pluginDevelopmentPage"
            class="org.eclipse.pde.api.tools.ui.internal.properties.ApiErrorsWarningsPropertyPage"
            id="org.eclipse.pde.api.tools.ui.apitools.proppage"
            name="%ApiErrorsWarningsPage.name">
         <keywordReference
               id="org.eclipse.pde.api.tools.ui.apitools.prefpage">
         </keywordReference>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <filter
               name="projectNature"
               value="org.eclipse.pde.api.tools.apiAnalysisNature">
         </filter>
      </page>
      <page
            category="org.eclipse.pde.internal.ui.properties.pluginDevelopmentPage"
            class="org.eclipse.pde.api.tools.ui.internal.properties.ApiFiltersPropertyPage"
            id="org.eclipse.pde.api.tools.ui.apitools.filterspage"
            name="%ApiFiltersPage.name">
         <keywordReference
               id="org.eclipse.pde.api.tools.ui.apitools.filters.prefpage.keywords">
         </keywordReference>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <filter
               name="projectNature"
               value="org.eclipse.pde.api.tools.apiAnalysisNature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.pde.api.tools.ui.profiles.prefpage"
            label="%ApiProfilesPreferencePage.keywords">
      </keyword>
      <keyword
            id="org.eclipse.pde.api.tools.ui.apitools.errorwarnings.prefpage.keywords"
            label="%ApiErrorsWarningsPreferencePage.keywords">
      </keyword>
      <keyword
            id="org.eclipse.pde.api.tools.ui.apitools.filters.prefpage.keywords"
            label="%ApiFiltersPage.keywords">
      </keyword>
      <keyword
            id="org.eclipse.pde.api.tools.ui.apitools.prefpage"
            label="%ApiErrorsWarningsPage.keywords">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="%MarkerCategory.name">
         <markerTypeReference
               id="org.eclipse.pde.api.tools.compatibility">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.pde.api.tools.api_usage">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.pde.api.tools.version_numbering">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.pde.api.tools.api_profile">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.pde.api.tools.marker.sincetags">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.pde.api.tools.unsupported_tags">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
    <extension
          point="org.eclipse.ui.ide.markerSupport">
        <markerGroupingEntry id="org.eclipse.pde.api.tools.jdt_category"
                markerGrouping="org.eclipse.jdt.ui.java_marker_category"
                label="%MarkerGroupingEntryLabel"
                priority="83"/>
        <markerAttributeGrouping
             defaultGroupingEntry="org.eclipse.pde.api.tools.jdt_category"
             markerType="org.eclipse.pde.api.tools.compatibility"/>
        <markerAttributeGrouping
             defaultGroupingEntry="org.eclipse.pde.api.tools.jdt_category"
             markerType="org.eclipse.pde.api.tools.api_usage"/>
        <markerAttributeGrouping
             defaultGroupingEntry="org.eclipse.pde.api.tools.jdt_category"
             markerType="org.eclipse.pde.api.tools.version_numbering"/>
        <markerAttributeGrouping
             defaultGroupingEntry="org.eclipse.pde.api.tools.jdt_category"
             markerType="org.eclipse.pde.api.tools.api_profile"/>
        <markerAttributeGrouping
             defaultGroupingEntry="org.eclipse.pde.api.tools.jdt_category"
             markerType="org.eclipse.pde.api.tools.marker.sincetags"/>
        <markerAttributeGrouping
              defaultGroupingEntry="org.eclipse.pde.api.tools.jdt_category"
              markerType="org.eclipse.pde.api.tools.unsupported_tags">
        </markerAttributeGrouping>
    </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.pde.api.tools.ui.internal.markers.ApiMarkerResolutionGenerator"
            markerType="org.eclipse.pde.api.tools.api_profile">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.pde.api.tools.ui.internal.markers.ApiMarkerResolutionGenerator"
            markerType="org.eclipse.pde.api.tools.compatibility">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.pde.api.tools.ui.internal.markers.ApiMarkerResolutionGenerator"
            markerType="org.eclipse.pde.api.tools.api_usage">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.pde.api.tools.ui.internal.markers.ApiMarkerResolutionGenerator"
            markerType="org.eclipse.pde.api.tools.version_numbering">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.pde.api.tools.ui.internal.markers.ApiMarkerResolutionGenerator"
            markerType="org.eclipse.pde.api.tools.marker.sincetags">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.pde.api.tools.ui.internal.markers.ApiMarkerResolutionGenerator"
            markerType="org.eclipse.pde.api.tools.unsupported_tags">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.pde.api.tools.ui.internal.actions.ApiToolsPropertyTester"
            id="org.eclipse.pde.api.tools.ui.proptester"
            namespace="org.eclipse.pde.api.tools.ui"
            properties="pbfilters"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
