<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2005, 2009 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension-point id="org.eclipse.pde.ui.osgiFrameworks" name="%expoint.osgiLauncher.name" schema="schema/osgiFrameworks.exsd"/>

    <extension point="org.eclipse.debug.core.sourceLocators">
   		<sourceLocator
   			id="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
   			class="org.eclipse.pde.internal.launching.sourcelookup.PDESourceLookupDirector"
   			name="%pde.sourcelocator">
   		</sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.pde.launching.EclipseApplicationLaunchConfiguration"
            delegateDescription="%PDELaunchDelegate.description"
            delegateName="%PDELaunchDelegate.name"
            id="org.eclipse.pde.ui.RuntimeWorkbench"
            migrationDelegate="org.eclipse.pde.internal.launching.launcher.PDEMigrationDelegate"
            modes="run, debug"
            name="%launchConfigurationType.name"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.pde.launching.JUnitLaunchConfigurationDelegate"
            delegateDescription="%JUnitPluginLaunchDelegate.description"
            delegateName="%JUnitPluginLaunchDelegate.name"
            id="org.eclipse.pde.ui.JunitLaunchConfig"
            migrationDelegate="org.eclipse.pde.internal.launching.launcher.PDEMigrationDelegate"
            modes="run, debug"
            name="%launcher.junit.name"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.pde.launching.OSGiLaunchConfigurationDelegate"
            delegateDescription="%OSGiLaunchDelegate.description"
            delegateName="%OSGiLaunchDelegate.name"
            id="org.eclipse.pde.ui.EquinoxLauncher"
            migrationDelegate="org.eclipse.pde.internal.launching.launcher.OSGiMigrationDelegate"
            modes="run, debug"
            name="%launcher.framework.name"
            public="true"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>
   </extension>
	<extension
         point="org.eclipse.jdt.junit.junitLaunchConfigs">
      <launchConfigType
            configTypeID="org.eclipse.pde.ui.JunitLaunchConfig">
      </launchConfigType>
   </extension>
    <extension
         point="org.eclipse.pde.ui.osgiFrameworks">
      <framework
            launcherDelegate="org.eclipse.pde.launching.EquinoxLaunchConfiguration"
            id="org.eclipse.pde.ui.EquinoxFramework"
            name="%Equinox.shortcut.label" 
            initializer="org.eclipse.pde.internal.launching.launcher.EquinoxInitializer"/>
    </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.pde.internal.launching.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="org.eclipse.pde.launching.PDESourcePathProvider"
            id="org.eclipse.pde.ui.workbenchClasspathProvider">
      </classpathProvider>
   </extension>
    
</plugin>
