<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.pde.internal.ua.ui.editor.cheatsheet.simple.SimpleCSEditor"
            contributorClass="org.eclipse.pde.internal.ua.ui.editor.cheatsheet.simple.SimpleCSEditorContributor"
            icon="$nl$/icons/obj16/cheatsheet_obj.gif"
            id="org.eclipse.pde.ua.ui.simpleCheatSheetEditor"
            name="%simple.cheat.sheat.editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.pde.simpleCheatSheet">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.eclipse.pde.internal.ua.ui.editor.cheatsheet.comp.CompCSEditor"
            contributorClass="org.eclipse.pde.internal.ua.ui.editor.cheatsheet.comp.CompCSEditorContributor"
            icon="$nl$/icons/obj16/cheatsheet_obj.gif"
            id="org.eclipse.pde.ua.ui.compositeCheatSheetEditor"
            name="%composite.cheat.sheat.editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.pde.compositeCheatSheet">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.eclipse.pde.internal.ua.ui.editor.toc.TocEditor"
            contributorClass="org.eclipse.pde.internal.ua.ui.editor.toc.TocEditorContributor"
            default="true"
            icon="$nl$/icons/obj16/toc_obj.gif"
            id="org.eclipse.pde.ua.ui.tocEditor"
            name="%toc.editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.pde.tocFile">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.eclipse.pde.internal.ua.ui.editor.ctxhelp.CtxHelpEditor"
            contributorClass="org.eclipse.pde.internal.ua.ui.editor.toc.TocEditorContributor"
            default="true"
            icon="$nl$/icons/obj16/toc_obj.gif"
            id="org.eclipse.pde.ua.ui.ctxHelpEditor"
            name="%ctxhelp.editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.pde.ctxHelpFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.pde.userAssistance"
            name="%category.name.user.assistance">
      </category>
      <wizard
            category="org.eclipse.pde.userAssistance"
            class="org.eclipse.pde.internal.ua.ui.wizards.cheatsheet.NewCSFileWizard"
            icon="$nl$/icons/etool16/new_cheatsheet_wiz.gif"
            id="org.eclipse.pde.ua.ui.NewCheatSheetWizard"
            name="%new.cheat.sheet">
         <description>
            %new.cheat.sheet.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.pde.userAssistance"
            class="org.eclipse.pde.internal.ua.ui.wizards.toc.NewTocFileWizard"
            icon="$nl$/icons/etool16/toc_wiz.gif"
            id="org.eclipse.pde.ua.ui.NewTOCWizard"
            name="%new.toc.name">
         <description>
            %new.toc.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.pde.userAssistance"
            class="org.eclipse.pde.internal.ua.ui.wizards.ctxhelp.NewCtxHelpWizard"
            icon="$nl$/icons/etool16/ctx_help_wiz.gif"
            id="org.eclipse.pde.ua.ui.NewContextHelpWizard"
            name="%new.ctxhelp.name">
         <description>
            %new.ctxhelp.description
         </description>
      </wizard>
   </extension>

</plugin>
