<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.quickFixProcessors">
		<quickFixProcessor
			id="org.eclipse.pde.bnd.ui.buildpathquickfix"
			name="Buildpath Quick Fix"
			class="org.eclipse.pde.bnd.ui.quickfix.BuildpathQuickFixProcessor">
			<handledMarkerTypes>
				<markerType id="org.eclipse.jdt.core.problem" />
			</handledMarkerTypes>
		</quickFixProcessor>
	</extension>
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.pde.bnd.ui.OSGiPropertyTester"
            id="org.eclipse.pde.bnd.osgitester.javaproject"
            namespace="org.eclipse.pde.bnd"
            properties="isOSGiClasspathProject"
            type="org.eclipse.jdt.core.IJavaProject">
      </propertyTester>
      <propertyTester
            class="org.eclipse.pde.bnd.ui.OSGiPropertyTester"
            id="org.eclipse.pde.bnd.osgitester.project"
            namespace="org.eclipse.pde.bnd"
            properties="isOSGiClasspathProject"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.views">
		<category id="pde.bnd.ui.viewCategory" name="%views.category.name"></category>
		<view category="pde.bnd.ui.viewCategory"
			class="org.eclipse.pde.bnd.ui.views.repository.RepositoriesView"
			icon="icons/database.png" id="pde.bnd.ui.repositoriesView"
			name="%osgi.views.repositories.name" restorable="true">
		</view>
		
		<view category="pde.bnd.ui.viewCategory"
			class="org.eclipse.pde.bnd.ui.views.resolution.ResolutionView"
			icon="icons/webresources16.svg" id="pde.bnd.ui.impExpView" name="%osgi.views.resolution.name"
			restorable="true">
		</view>
   </extension>
</plugin>
