/*/*/bin/
/*/*/bin_ant/
*~
*.rej
*.bak
javacore.*
heapdump.*
core.*
Snap.*
/.project

# maven
/*/*/target/
.DS_Store
.polyglot.META-INF
.polyglot.feature.xml

# build plugins configuration
/*/bin/
.DS_Store
/.project

# maven
/*/target/