bin/
bin_ant/
*~
*.rej
*.bak
javacore.*
heapdump.*
core.*
Snap.*
/.project
*.class

# maven
# DO NOT ignore all 'target' folders because PDE has numerous packages with elements named 'target'
/target/
/*/target/
/*/*/target/

.DS_Store
.polyglot.*
pom.tycho

.mvn/.develocity/develocity-workspace-id
