
img {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	}
	
.page-style {
	text-align: center;
	}

/* Give some space for main div.*/
#content {
	margin-top:100px;
	width:20em;
	text-align: left;
	} 




		