<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="PluginNature"
         name="%natures.pluginNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.pde.internal.PluginProject">
         </run>
      </runtime>
   </extension>
   <extension
         id="FeatureNature"
         name="%natures.featureNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.pde.internal.FeatureProject">
         </run>
      </runtime>
   </extension>
   <extension
         id="UpdateSiteNature"
         name="%natures.siteNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.pde.internal.SiteProject">
         </run>
      </runtime>
   </extension>
   <extension
         id="ManifestBuilder"
         name="%builders.manifestBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.builders.ManifestConsistencyChecker">
         </run>
      </builder>
   </extension>
   <extension
         id="SchemaBuilder"
         name="%builders.schemaBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.builders.ExtensionPointSchemaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="FeatureBuilder"
         name="%builders.featureBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.builders.FeatureConsistencyChecker">
         </run>
      </builder>
   </extension>
   <extension
         id="UpdateSiteBuilder"
         name="%builders.siteBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.builders.UpdateSiteBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="ant_tasks/pde-ant.jar"
            name="pde.convertSchemaToHTML"
            class="org.eclipse.pde.ant.ConvertSchemaToHTML">
      </antTask>
   </extension>
   
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="ant_tasks/pde-ant.jar">
      </extraClasspathEntry>
   </extension>
   
   <extension
         id="validation-marker"
         name="%builders.marker.label"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="id"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.platform.introConfig" 
            content="$nl$/intro/overviewExtensionContent.xml"/>  
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/samplesExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/newsExtensionContent.xml"/> 
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/newsExtensionContent2.xml"/>     
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.sharedConfig" 
            content="$nl$/new-intro/overviewExtensionContent.xml"/>  
      <configExtension
            configId="org.eclipse.ui.intro.sharedConfig"
            content="$nl$/new-intro/tutorialsExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.sharedConfig"
            content="$nl$/new-intro/samplesExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.sharedConfig"
            content="$nl$/new-intro/samplesExtensionContent2.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.sharedConfig"
            content="$nl$/new-intro/newsExtensionContent.xml"/> 
      <configExtension
            configId="org.eclipse.ui.intro.sharedConfig"
            content="$nl$/new-intro/newsExtensionContent2.xml"/>     
   </extension>

   <extension 
   		 point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.pde"
            contentFile="$nl$/cheatsheets/helloworld.xml"
            id="org.eclipse.pde.helloworld"
            name="%cheatsheet.helloworld.name">
         <description>%cheatsheet.helloworld.desc</description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.pde"
            contentFile="$nl$/cheatsheets/updates.xml"
            id="org.eclipse.pde.updates"
            name="%cheatsheet.updates.name">
         <description>%cheatsheet.updates.desc</description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.pde"
            contentFile="$nl$/cheatsheets/rcpapp.xml"
            id="org.eclipse.pde.rcpapp"
            name="%cheatsheet.rcpApp.name">
         <description>%cheatsheet.rcpApp.desc</description>
      </cheatsheet>
      <category
            id="org.eclipse.pde"
            name="%cheatsheet.category.pde"/>
   </extension>
   
   <extension 
   		 point="org.eclipse.core.runtime.contentTypes">
      <content-type 
      		id="pluginManifest" 
      		name="%pluginManifestName" 
    		base-type="org.eclipse.core.runtime.xml"
   			priority="high"				
    		file-names="plugin.xml">
    	<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
    		<parameter name="element" value="plugin"/>
		</describer>
	  </content-type>
   	  <content-type 
   	  		id="fragmentManifest" 
   	  		name="%fragmentManifestName" 
       		base-type="org.eclipse.core.runtime.xml"
    		priority="high"				
    		file-names="fragment.xml">
    	<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
    		<parameter name="element" value="fragment"/>
		</describer>
	  </content-type>
   	  <content-type 
   	  		id="featureManifest" 
   	  		name="%featureManifestName" 
       		base-type="org.eclipse.core.runtime.xml"
    		priority="high"				
    		file-names="feature.xml">
    	<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
    		<parameter name="element" value="feature"/>
		</describer>
	  </content-type>
   	  <content-type 
   	  		id="siteManifest" 
   	  		name="%siteManifestName" 
       		base-type="org.eclipse.core.runtime.xml"
    		priority="high"				
    		file-names="site.xml">
    	<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
    		<parameter name="element" value="site"/>
		</describer>
	  </content-type>
   	  <content-type 
   	  		id="productFile" 
   	  		name="%productConfiguration" 
       		base-type="org.eclipse.core.runtime.xml"
    		priority="high"				
    		file-extensions="product">
    	<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
    		<parameter name="element" value="product"/>
		</describer>
	  </content-type>
   	  <content-type 
   	  		id="targetFile" 
   	  		name="%target.profile.content" 
       		base-type="org.eclipse.core.runtime.xml"
    		priority="high"				
    		file-extensions="target">
    	<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
    		<parameter name="element" value="target"/>
		</describer>
	  </content-type>
   	  <content-type 
   	  		id="schema" 
   	  		name="%schemaFile" 
       		base-type="org.eclipse.core.runtime.xml"
    		priority="high"				
    		file-extensions="exsd">
    	<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
    		<parameter name="element" value="schema"/>
		</describer>
	  </content-type>
	  <content-type 
	  		id="pluginProperties" 
	  		name="%pluginPropertiesName" 
    		base-type="org.eclipse.jdt.core.javaProperties"
    		priority="high"				
    		file-names="plugin.properties"/>
      <content-type 
		    id="buildProperties" 
		    name="%buildPropertiesName" 
		    base-type="org.eclipse.jdt.core.javaProperties"
		    priority="high"
		    file-names="build.properties"/>
      <content-type 
		    id="bundleManifest" 
		    name="%bundleManifest" 
		    base-type="org.eclipse.jdt.core.JARManifest"
		    priority="high"
            describer="org.eclipse.pde.internal.content.BundleManifestDescriber"/>
    </extension>
   
</plugin>
