<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="traceComponents" name="%traceComponentExtension.name" schema="schema/traceComponents.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.trace.internal.TracingPreferencePage"
            id="org.eclipse.ui.trace.tracingPage"
            name="%tracingPrefPageName">
         <keywordReference
               id="org.eclipse.ui.trace.keyword.debug">
         </keywordReference>
         <keywordReference
               id="org.eclipse.ui.trace.keyword.trace">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            id="org.eclipse.ui.trace.options"
            name="%transferOptions.name">
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.ui.trace">
               <key
                     name="tracingEnabled">
               </key>
               <key
                     name="tracingEntries">
               </key>
               <key
                     name="tracingMaxFileSize">
               </key>
               <key
                     name="tracingMaxFileCount">
               </key>
            </entry>
         </mapping>
      </transfer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ui.trace.internal.utils.PreferenceHandler">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.ui.trace.keyword.trace"
            label="%keyword.trace">
      </keyword>
      <keyword
            id="org.eclipse.ui.trace.keyword.debug"
            label="%keyword.debug">
      </keyword>
   </extension>

</plugin>
