a#rcp img { background-image : url(graphics/obj_48/rcpapp_obj.gif); }
a#rcp:hover img { background-image : url(graphics/obj_48/hovrcpapp_obj.gif); }

a#pde-hello-world img { background-image : url(graphics/obj_48/plugin_obj.gif); }
a#pde-hello-world:hover img { background-image : url(graphics/obj_48/hovplugin_obj.gif); }

a#features img { background-image : url(graphics/obj_48/deployfeat_obj.gif); }
a#features:hover img { background-image : url(graphics/obj_48/hovdeployfeat_obj.gif); }

#pde {
	position : relative;
	top : -90px;
}
