<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.spy.core.spyPart">
      <spyPart
            description="%description"
            icon="$nl$/icons/cssspy.svg"
            name="%name"
            part="org.eclipse.pde.spy.css.CssSpyPart"
            shortcut="M2+M3+F5">
      </spyPart>
      <spyPart
            description="%css_scratchpad_description"
            icon="$nl$/icons/css_scratchpad.svg"
            name="%css_scratchpad_name"
            part="org.eclipse.pde.spy.css.CSSScratchPadPart"
            shortcut="M2+M3+F6">
      </spyPart>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/dark-theme.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
      </stylesheet>
   </extension>
</plugin>
