<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.e4.tools.emf.ui.editors" name="%extension-point.name" schema="schema/org.eclipse.e4.tools.emf.ui.editors.exsd"/>
   <extension-point id="org.eclipse.e4.tools.emf.ui.scripting" name="Scripting" schema="schema/org.eclipse.e4.tools.emf.ui.scripting.exsd"/>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/default.css">
      </stylesheet>
      <stylesheet
            uri="css/e4-dark.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.eclipse.e4.tools.emf.ui.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.e4.tools.emf.ui.presentation"
            label="%themeElementCategory.label">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.eclipse.e4.tools.emf.ui.presentation"
            id="org.eclipse.e4.tools.emf.ui.color.tag"
            label="%colorDefinition.tag"
            value="0,0,128">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.e4.tools.emf.ui.presentation"
            id="org.eclipse.e4.tools.emf.ui.color.string"
            label="%colorDefinition.string"
            value="0,128,0">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.e4.tools.emf.ui.presentation"
            id="org.eclipse.e4.tools.emf.ui.color.comment"
            label="%colorDefinition.comment"
            value="128,0,0">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.e4.tools.emf.ui.presentation"
            id="org.eclipse.e4.tools.emf.ui.color.procInstr"
            label="%colorDefinition.procInstr"
            value="128,128,128">
      </colorDefinition>
   </extension>

</plugin>
