<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.spy.core.spyPart">
      <spyPart
            description="registered adapters "
            icon="icons/ext_point_obj.png"
            name="Adapter Spy"
            part="org.eclipse.pde.spy.adapter.AdapterSpyPart"
            shortcut="M2+M3+F7">
      </spyPart>
   </extension>

</plugin>
