<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.spy.core.spyPart">
      <spyPart
            description="%description"
            icon="$nl$/icons/full/obj16/application_lightning.svg"
            name="%name"
            part="org.eclipse.pde.spy.model.ModelSpyPart"
            shortcut="M2+M3+F9">
      </spyPart>
   </extension>
</plugin>
