#swt .sample-link img {
	background-image : url(graphics/obj_48/samplered_obj.gif);
}

#swt .sample-link:hover img {
	background-image : url(graphics/obj_48/sampleredhov_obj.gif);
}

#workbench .sample-link img {
	background-image : url(graphics/obj_48/samplepurp_obj.gif);
}

#workbench .sample-link:hover img {
	background-image : url(graphics/obj_48/samplepurphov_obj.gif);
}


