<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.pde.spy.preferences.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
		 point="org.eclipse.pde.spy.core.spyPart">
      <spyPart
            description="%description"
            icon="$nl$/icons/preference_spy.svg"
            name="%name"
            part="org.eclipse.pde.spy.preferences.parts.PreferenceSpyPart"
            shortcut="M2+M3+F11">
      </spyPart>
   </extension>
</plugin>
