<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.pde.runtime"
   name="%name"
   version="3.0.0"
   provider-name="%provider-name"
   class="org.eclipse.pde.internal.runtime.PDERuntimePlugin">

   <runtime>
      <library name="pdert.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.pde.internal.runtime"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>


<!-- Extensions -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%views.category.name"
            id="org.eclipse.pde.runtime">
      </category>
      <view
            name="%views.registry.name"
            icon="icons/view16/registry.gif"
            category="org.eclipse.pde.runtime"
            class="org.eclipse.pde.internal.runtime.registry.RegistryBrowser"
            id="org.eclipse.pde.runtime.RegistryBrowser">
      </view>
      <view
            name="%views.errorLog.name"
            icon="icons/view16/error_log.gif"
            category="org.eclipse.pde.runtime"
            class="org.eclipse.pde.internal.runtime.logview.LogView"
            id="org.eclipse.pde.runtime.LogView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
