html, body {
	overflow:auto;
	}  
 
 
body {
	padding:25px;
	font-family: Times, "Times New Roman", serif;
	} 
	
h1 {
	text-align: center;
	font-size: xx-large;
	}
	
img {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	}
