<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Base RCP with Source">

   <location useDefault="true"/>

   <content>
      <plugins>
      </plugins>
      <features>
         <feature id="org.eclipse.rcp"/>
         <feature id="org.eclipse.rcp.source"/>
      </features>
   </content>

</target>
