<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.pde"
   name="%name"
   version="1.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.pde.internal.PDEPlugin">

   <runtime>
      <library name="pde.jar">
         <export name="*"/>
      </library>
   </runtime>
<!-- Required plugins -->
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.pde.core"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ant.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.update.ui.forms"/>
   </requires>


<!-- Extension points -->
   <extension-point id="projectGenerators" name="%expoint.projectGenerators.name" schema="schema/projectGenerators.xsd"/>
   <extension-point id="newExtension" name="%expoint.newExtension.name" schema="schema/newExtension.xsd"/>
   <extension-point id="schemaMap" name="%expoint.schemaMap.name" schema="schema/schemaMap.xsd"/>

<!-- Extensions -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            icon="icons/full/view16/plugin_persp.gif"
            class="org.eclipse.pde.internal.PDEPerspective"
            id="org.eclipse.pde.PDEPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferences.main.name"
            class="org.eclipse.pde.internal.preferences.MainPreferencePage"
            id="org.eclipse.pde.MainPreferencePage">
      </page>
      <page
            name="%preferences.runtimeTracing.name"
            category="org.eclipse.pde.MainPreferencePage"
            class="org.eclipse.pde.internal.preferences.RuntimeTracingPreferencePage"
            id="org.eclipse.pde.RuntimeTracingPage">
      </page>
      <page
            name="%preferences.advancedTracing.name"
            category="org.eclipse.pde.MainPreferencePage"
            class="org.eclipse.pde.internal.preferences.AdvancedTracingPreferencePage"
            id="org.eclipse.pde.AdvancedTracingPage">
      </page>
      <page
            name="%preferences.buildpath.name"
            category="org.eclipse.pde.MainPreferencePage"
            class="org.eclipse.pde.internal.preferences.BuildpathPreferencePage"
            id="org.eclipse.pde.BuildpathPreferencePage">
      </page>
      <page
            name="%preferences.target.name"
            category="org.eclipse.pde.MainPreferencePage"
            class="org.eclipse.pde.internal.preferences.TargetPlatformPreferencePage"
            id="org.eclipse.pde.TargetPlatformPreferencePage">
      </page>
      <page
            name="%preferences.targetEnv.name"
            category="org.eclipse.pde.MainPreferencePage"
            class="org.eclipse.pde.internal.preferences.TargetEnvironmentPreferencePage"
            id="org.eclipse.pde.TargetEnvironmentPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%new.category.name"
            id="org.eclipse.pde.PDE">
      </category>
      <wizard
            availableAsShortcut="true"
            name="%new.pluginProject.name"
            icon="icons/full/ctool16/newpprj_wiz.gif"
            category="org.eclipse.pde.PDE"
            class="org.eclipse.pde.internal.wizards.project.NewProjectWizard"
            project="true"
            finalPerspective="org.eclipse.pde.internal.PDEPerspective"
            id="org.eclipse.pde.internal.wizards.project.NewProjectWizard">
         <description>
            %new.pluginProject.description
         </description>
      </wizard>
      <wizard
            name="%new.fragmentProject.name"
            icon="icons/full/ctool16/newfprj_wiz.gif"
            category="org.eclipse.pde.PDE"
            class="org.eclipse.pde.internal.wizards.project.NewFragmentProjectWizard"
            project="true"
            finalPerspective="org.eclipse.pde.internal.PDEPerspective"
            id="org.eclipse.pde.internal.wizards.project.NewFragmentWizard">
         <description>
            %new.fragmentProject.description
         </description>
      </wizard>
      <wizard
            name="%new.schemaFile.name"
            icon="icons/full/obj16/schema_obj.gif"
            category="org.eclipse.pde.PDE"
            class="org.eclipse.pde.internal.wizards.extension.NewSchemaFileWizard"
            id="org.eclipse.pde.internal.wizards.extension.NewSchemaFileWizard">
         <description>
            %new.schemaFile.description
         </description>
      </wizard>
      <wizard
            availableAsShortcut="false"
            name="%new.convert.name"
            icon="icons/full/ctool16/convjpprj_wiz.gif"
            category="org.eclipse.pde.PDE"
            class="org.eclipse.pde.internal.wizards.project.ConvertedProjectWizard"
            id="org.eclipse.pde.internal.wizards.project.ConvertedProjectWizard">
         <description>
            %new.convert.description
         </description>
      </wizard>
      <wizard
            name="%new.feature.name"
            icon="icons/full/ctool16/newftrprj_wiz.gif"
            category="org.eclipse.pde.PDE"
            class="org.eclipse.pde.internal.feature.NewFeatureProjectWizard"
            project="true"
            finalPerspective="org.eclipse.pde.internal.PDEPerspective"
            id="org.eclipse.pde.internal.feature.NewFeatureProjectWizard">
         <description>
            %new.feature.description
         </description>
      </wizard>
   </extension>
   <extension
         id="selfhosting.import"
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%PluginImportWizard.label"
            icon="icons/full/ctool16/newexprj_wiz.gif"
            class="org.eclipse.pde.internal.wizards.imports.PluginImportWizard"
            id="org.eclipse.pde.import.PluginImportWizard">
         <description>
            %PluginImportWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.projectGenerators">
      <wizard
            name="%projectGenerators.defaultPlugin.name"
            icon="icons/full/ctool16/defcon_wiz.gif"
            class="org.eclipse.pde.internal.wizards.templates.PluginCodeGeneratorWizard"
            id="org.eclipse.pde.projectGenerators.default">
         <description>
            %projectGenerators.defaultPlugin.description
         </description>
      </wizard>
      <wizard
            fragmentWizard="true"
            name="%projectGenerators.defaultFragment.name"
            icon="icons/full/ctool16/defcon_wiz.gif"
            class="org.eclipse.pde.internal.wizards.templates.PluginCodeGeneratorWizard"
            id="org.eclipse.pde.projectGenerators.defaultFragment">
         <description>
            %projectGenerators.defaultFragment.description
         </description>
      </wizard>
      <wizard
            name="%projectGenerators.helloWorld.name"
            icon="icons/full/ctool16/defcon_wiz.gif"
            class="org.eclipse.pde.internal.wizards.templates.HelloWorldNewWizard"
            id="org.eclipse.pde.projectGenerators.helloWorld">
         <description>
            %projectGenerators.helloWorld.description
         </description>
      </wizard>
      <wizard
            name="%projectGenerators.view.name"
            icon="icons/full/ctool16/defcon_wiz.gif"
            class="org.eclipse.pde.internal.wizards.templates.ViewNewWizard"
            id="org.eclipse.pde.projectGenerators.view">
         <description>
            %projectGenerators.view.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.newExtension">
      <category
            name="%newExtension.templates"
            id="templates">
      </category>
      <category
            name="%newExtension.generic"
            id="generic">
      </category>
      <wizard
            availableAsShortcut="true"
            name="%newExtension.generic.name"
            icon="icons/full/ctool16/newex_wiz.gif"
            category="generic"
            class="org.eclipse.pde.internal.wizards.extension.GenericExtensionWizard"
            id="org.eclipse.pde.newExtension.generic">
         <description>
            %newExtension.generic.desc
         </description>
      </wizard>
      <wizard
            availableAsShortcut="true"
            name="%newExtension.templates.hello.name"
            template="true"
            icon="icons/full/ctool16/newex_wiz.gif"
            category="templates"
            class="org.eclipse.pde.internal.wizards.templates.HelloWorldTemplate"
            id="org.eclipse.pde.newExtension.hello">
         <description>
            %newExtension.templates.hello.desc
         </description>
      </wizard>
      <wizard
            availableAsShortcut="true"
            name="%newExtension.templates.view.name"
            template="true"
            icon="icons/full/ctool16/newex_wiz.gif"
            category="templates"
            class="org.eclipse.pde.internal.wizards.templates.ViewTemplate"
            id="org.eclipse.pde.newExtension.view">
         <description>
            %newExtension.templates.view.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editors.pluginManifest.name"
            default="true"
            icon="icons/full/obj16/plugin_mf_obj.gif"
            filenames="plugin.xml"
            contributorClass="org.eclipse.pde.internal.editor.manifest.ManifestEditorContributor"
            class="org.eclipse.pde.internal.editor.manifest.ManifestEditor"
            id="org.eclipse.pde.manifestEditor">
      </editor>
      <editor
            name="%editors.fragmentManifest.name"
            default="true"
            icon="icons/full/obj16/frgmt_mf_obj.gif"
            filenames="fragment.xml"
            contributorClass="org.eclipse.pde.internal.editor.manifest.ManifestEditorContributor"
            class="org.eclipse.pde.internal.editor.manifest.FragmentManifestEditor"
            id="org.eclipse.pde.fragmentEditor">
      </editor>
      <editor
            name="%editors.schema.name"
            default="false"
            icon="icons/full/obj16/schema_obj.gif"
            extensions="xsd,mxsd"
            contributorClass="org.eclipse.pde.internal.editor.schema.SchemaEditorContributor"
            class="org.eclipse.pde.internal.editor.schema.SchemaEditor"
            id="org.eclipse.pde.schemaEditor">
      </editor>
      <editor
            name="%editors.buildProperties.name"
            default="true"
            icon="icons/full/obj16/build_exec.gif"
            filenames="build.properties"
            contributorClass="org.eclipse.pde.internal.editor.build.BuildEditorContributor"
            class="org.eclipse.pde.internal.editor.build.BuildPropertiesEditor"
            id="org.eclipse.pde.buildEditor">
      </editor>
      <editor
            name="%editors.featureManifest.name"
            default="true"
            icon="icons/full/obj16/ftr_mf_obj.gif"
            filenames="feature.xml"
            contributorClass="org.eclipse.pde.internal.editor.feature.FeatureEditorContributor"
            class="org.eclipse.pde.internal.editor.feature.FeatureEditor"
            id="org.eclipse.pde.featureEditor">
      </editor>
   </extension>
   <extension
         id="PluginNature"
         name="%natures.pluginNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.pde.internal.PluginProject">
         </run>
      </runtime>
   </extension>
   <extension
         id="FeatureNature"
         name="%natures.featureBuilder.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.pde.internal.FeatureProject">
         </run>
      </runtime>
   </extension>
   <extension
         id="ManifestBuilder"
         name="%builders.manifestBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.builders.ManifestConsistencyChecker">
         </run>
      </builder>
   </extension>
   <extension
         id="SchemaBuilder"
         name="%builders.schemaBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.builders.ExtensionPointSchemaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="FeatureBuilder"
         name="%builders.featureBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.builders.FeatureConsistencyChecker">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.pde.popupMenus">
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <action
               label="%popupMenus.convert.label"
               class="org.eclipse.pde.internal.wizards.project.ConvertJavaToPDEProjectAction"
               menubarPath="additions"
               id="org.eclipse.pde.ConvertJavaToPDEProject">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="feature.xml"
            id="org.eclipse.pde.featureJar">
         <filter
               name="projectNature"
               value="org.eclipse.pde.FeatureNature">
         </filter>
         <action
               label="%popupMenus.createJar.label"
               class="org.eclipse.pde.internal.feature.BuildFeatureAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.pde.BuildFeatureJar">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="plugin.xml"
            id="org.eclipse.pde.pluginBuild">
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <action
               label="%popupMenus.buildPlugin.label"
               class="org.eclipse.pde.internal.feature.BuildPluginAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.pde.BuildPluginAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="fragment.xml"
            id="org.eclipse.pde.fragmentBuild">
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <action
               label="%popupMenus.buildFragment.label"
               class="org.eclipse.pde.internal.feature.BuildPluginAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.pde.BuildFragmentAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="plugin.xml"
            id="org.eclipse.pde.UpdateClasspathAction1">
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <action
               label="%UpdateClasspathAction.label"
               tooltip="%UpdateClasspathAction.tooltip"
               class="org.eclipse.pde.internal.wizards.imports.UpdateClasspathAction"
               menubarPath="additions"
               enablesFor="+"
               id="UpdateClasspathAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="fragment.xml"
            id="org.eclipse.pde.UpdateClasspathAction2">
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <action
               label="%UpdateClasspathAction.label"
               tooltip="%UpdateClasspathAction.tooltip"
               class="org.eclipse.pde.internal.wizards.imports.UpdateClasspathAction"
               menubarPath="additions"
               enablesFor="+"
               id="UpdateClasspathAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.pde.UpdateClasspathAction3">
         <filter
               name="projectNature"
               value="org.eclipse.pde.PluginNature">
         </filter>
         <action
               label="%UpdateClasspathAction.label"
               tooltip="%UpdateClasspathAction.tooltip"
               class="org.eclipse.pde.internal.wizards.imports.UpdateClasspathAction"
               menubarPath="additions"
               enablesFor="*"
               id="UpdateClasspathAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchers">
      <launcher
            label="%newlauncher.withWizard.label"
            icon="icons/full/ctool16/eclipse_launcher_wiz.gif"
            description="%newlauncher.withWizard.description"
            wizard="org.eclipse.pde.internal.launcher.WorkbenchLauncherWizard"
            modes="run, debug"
            class="org.eclipse.pde.internal.launcher.WorkbenchLauncherDelegate:withWizard"
            id="org.eclipse.pde.WorkbenchLauncherWithWizard">
      </launcher>
      <launcher
            label="%newlauncher.regular.label"
            icon="icons/full/ctool16/eclipse_launcher.gif"
            description="%newlauncher.regular.description"
            modes="run, debug"
            class="org.eclipse.pde.internal.launcher.WorkbenchLauncherDelegate"
            id="org.eclipse.pde.WorkbenchLauncher">
      </launcher>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%launchConfigurationType.name"
            delegate="org.eclipse.pde.internal.launcher.WorkbenchLaunchConfigurationDelegate"
            modes="run, debug"
            id="org.eclipse.pde.RuntimeWorkbench">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/ctool16/eclipse_launcher_wiz.gif"
            configTypeID="org.eclipse.pde.RuntimeWorkbench"
            id="org.eclipse.pde.runtimeWorkbenchLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <launchConfigurationTab
            name="%launchConfigurationTab.firstTab.name"
            type="org.eclipse.pde.RuntimeWorkbench"
            class="org.eclipse.pde.internal.launcher.BasicLauncherTab"
            id="org.eclipse.pde.launchConfigurationTab.FirstTab">
      </launchConfigurationTab>
      <launchConfigurationTab
            name="%launchConfigurationTab.advancedTab.name"
            type="org.eclipse.pde.RuntimeWorkbench"
            class="org.eclipse.pde.internal.launcher.AdvancedLauncherTab"
            id="org.eclipse.pde.launchConfigurationTab.AdvancedTab">
      </launchConfigurationTab>
      <launchConfigurationTab
            name="%launchConfigurationTab.tracingTab.name"
            type="org.eclipse.pde.RuntimeWorkbench"
            class="org.eclipse.pde.internal.launcher.TracingLauncherTab"
            id="org.eclipse.pde.launchConfigurationTab.TracingTab">
      </launchConfigurationTab>
   </extension>
   <extension
         point="org.eclipse.pde.schemaMap">
      <map
            point="org.eclipse.ant.core.antObjects"
            schema="schema/map/org.eclipse.ant.core/antObjects.mxsd">
      </map>
      <map
            point="org.eclipse.ant.core.antTasks"
            schema="schema/map/org.eclipse.ant.core/antTasks.mxsd">
      </map>
      <map
            point="org.eclipse.ant.core.antTypes"
            schema="schema/map/org.eclipse.ant.core/antTypes.mxsd">
      </map>
      <map
            point="org.eclipse.compare.contentMergeViewers"
            schema="schema/map/org.eclipse.compare/contentMergeViewers.mxsd">
      </map>
      <map
            point="org.eclipse.compare.contentViewers"
            schema="schema/map/org.eclipse.compare/contentViewers.mxsd">
      </map>
      <map
            point="org.eclipse.compare.structureCreators"
            schema="schema/map/org.eclipse.compare/structureCreators.mxsd">
      </map>
      <map
            point="org.eclipse.compare.structureMergeViewers"
            schema="schema/map/org.eclipse.compare/structureMergeViewers.mxsd">
      </map>
      <map
            point="org.eclipse.core.resources.builders"
            schema="schema/map/org.eclipse.core.resources/builders.mxsd">
      </map>
      <map
            point="org.eclipse.core.resources.markers"
            schema="schema/map/org.eclipse.core.resources/markers.mxsd">
      </map>
      <map
            point="org.eclipse.core.resources.natures"
            schema="schema/map/org.eclipse.core.resources/natures.mxsd">
      </map>
      <map
            point="org.eclipse.core.runtime.applications"
            schema="schema/map/org.eclipse.core.runtime/applications.mxsd">
      </map>
      <map
            point="org.eclipse.core.runtime.urlHandlers"
            schema="schema/map/org.eclipse.core.runtime/urlHandlers.mxsd">
      </map>
      <map
            point="org.eclipse.core.target.targets"
            schema="schema/map/org.eclipse.core.target/targets.mxsd">
      </map>
      <map
            point="org.eclipse.debug.core.launchers"
            schema="schema/map/org.eclipse.debug.core/launchers.mxsd">
      </map>
      <map
            point="org.eclipse.debug.ui.debugModelPresentations"
            schema="schema/map/org.eclipse.debug.ui/debugModelPresentations.mxsd">
      </map>
      <map
            point="org.eclipse.help.contexts"
            schema="schema/map/org.eclipse.help/contexts.mxsd">
      </map>
      <map
            point="org.eclipse.help.contributions"
            schema="schema/map/org.eclipse.help/contributions.mxsd">
      </map>
      <map
            point="org.eclipse.help.support"
            schema="schema/map/org.eclipse.help/support.mxsd">
      </map>
      <map
            point="org.eclipse.jdt.launching.vmRunners"
            schema="schema/map/org.eclipse.jdt.launching/vmRunners.mxsd">
      </map>
      <map
            point="org.eclipse.jdt.ui.javaElementFilters"
            schema="schema/map/org.eclipse.jdt.ui/javaElementFilters.mxsd">
      </map>
      <map
            point="org.eclipse.search.searchPages"
            schema="schema/map/org.eclipse.search/searchPages.mxsd">
      </map>
      <map
            point="org.eclipse.search.searchResultSorters"
            schema="schema/map/org.eclipse.search/searchResultSorters.mxsd">
      </map>
      <map
            point="org.eclipse.ui.actionSets"
            schema="schema/map/org.eclipse.ui/actionSets.mxsd">
      </map>
      <map
            point="org.eclipse.ui.dropActions"
            schema="schema/map/org.eclipse.ui/dropActions.mxsd">
      </map>
      <map
            point="org.eclipse.ui.editorActions"
            schema="schema/map/org.eclipse.ui/editorActions.mxsd">
      </map>
      <map
            point="org.eclipse.ui.editors"
            schema="schema/map/org.eclipse.ui/editors.mxsd">
      </map>
      <map
            point="org.eclipse.ui.elementFactories"
            schema="schema/map/org.eclipse.ui/elementFactories.mxsd">
      </map>
      <map
            point="org.eclipse.ui.exportWizards"
            schema="schema/map/org.eclipse.ui/exportWizards.mxsd">
      </map>
      <map
            point="org.eclipse.ui.importWizards"
            schema="schema/map/org.eclipse.ui/importWizards.mxsd">
      </map>
      <map
            point="org.eclipse.ui.newWizards"
            schema="schema/map/org.eclipse.ui/newWizards.mxsd">
      </map>
      <map
            point="org.eclipse.ui.perspectiveExtensions"
            schema="schema/map/org.eclipse.ui/perspectiveExtensions.mxsd">
      </map>
      <map
            point="org.eclipse.ui.perspectives"
            schema="schema/map/org.eclipse.ui/perspectives.mxsd">
      </map>
      <map
            point="org.eclipse.ui.popupMenus"
            schema="schema/map/org.eclipse.ui/popupMenus.mxsd">
      </map>
      <map
            point="org.eclipse.ui.preferencePages"
            schema="schema/map/org.eclipse.ui/preferencePages.mxsd">
      </map>
      <map
            point="org.eclipse.ui.propertyPages"
            schema="schema/map/org.eclipse.ui/propertyPages.mxsd">
      </map>
      <map
            point="org.eclipse.ui.viewActions"
            schema="schema/map/org.eclipse.ui/viewActions.mxsd">
      </map>
      <map
            point="org.eclipse.ui.views"
            schema="schema/map/org.eclipse.ui/views.mxsd">
      </map>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            label="%decorator.label"
            state="true"
            class="org.eclipse.pde.internal.wizards.imports.BinaryProjectDecorator"
            id="org.eclipse.pde.binaryProjectDecorator">
      </decorator>
   </extension>

</plugin>
