<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.pde"
   name="%name"
   version="1.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.pde.internal.PDEPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.jdt.ui"/>
   <import plugin="org.eclipse.jdt.core"/>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.debug.core"/>
   <import plugin="org.eclipse.jdt.launching"/>
   <import plugin="org.eclipse.pde.core"/>
   <import plugin="org.eclipse.ant.core"/>
   <import plugin="org.eclipse.ant.ui"/>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.debug.ui"/>
</requires>

<runtime>
   <library name="pde.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extension points -->
<extension-point id="projectGenerators" name="%expoint.projectGenerators.name" schema="schema/projectGenerators.xsd"/>
<extension-point id="newExtension" name="%expoint.newExtension.name" schema="schema/newExtension.xsd"/>
<extension-point id="schemaMap" name="%expoint.schemaMap.name" schema="schema/schemaMap.xsd"/>

<!-- Extensions -->
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         icon="icons/full/view16/plugin_persp.gif"
         class="org.eclipse.pde.internal.PDEPerspective"
         id="org.eclipse.pde.PDEPerspective"
         name="%perspective.name">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.eclipse.pde.internal.preferences.PDEBasePreferencePage"
         id="org.eclipse.pde.MainPreferencePage"
         name="%preferences.main.name">
   </page>
   <page
         category="org.eclipse.pde.MainPreferencePage"
         class="org.eclipse.pde.internal.preferences.RuntimeTracingPreferencePage"
         id="org.eclipse.pde.RuntimeTracingPage"
         name="%preferences.runtimeTracing.name">
   </page>
   <page
         category="org.eclipse.pde.MainPreferencePage"
         class="org.eclipse.pde.internal.preferences.AdvancedTracingPreferencePage"
         id="org.eclipse.pde.AdvancedTracingPage"
         name="%preferences.advancedTracing.name">
   </page>
   <page
         category="org.eclipse.pde.MainPreferencePage"
         class="org.eclipse.pde.internal.preferences.BuildpathPreferencePage"
         id="org.eclipse.pde.BuildpathPreferencePage"
         name="%preferences.buildpath.name">
   </page>
</extension>
<extension
      point="org.eclipse.ui.newWizards">
   <category
         id="org.eclipse.pde.PDE"
         name="%new.category.name">
   </category>
   <wizard
         icon="icons/full/ctool16/newpprj_wiz.gif"
         category="org.eclipse.pde.PDE"
         availableAsShortcut="true"
         class="org.eclipse.pde.internal.wizards.project.NewProjectWizard"
         finalPerspective="org.eclipse.pde.internal.PDEPerspective"
         id="org.eclipse.pde.internal.wizards.project.NewProjectWizard"
         project="true"
         name="%new.pluginProject.name">
      <description>
         %new.pluginProject.description
      </description>
   </wizard>
   <wizard
         icon="icons/full/ctool16/newfprj_wiz.gif"
         category="org.eclipse.pde.PDE"
         class="org.eclipse.pde.internal.wizards.project.NewFragmentProjectWizard"
         finalPerspective="org.eclipse.pde.internal.PDEPerspective"
         id="org.eclipse.pde.internal.wizards.project.NewFragmentWizard"
         project="true"
         name="%new.fragmentProject.name">
      <description>
         %new.fragmentProject.description
      </description>
   </wizard>
   <wizard
         icon="icons/full/obj16/schema_obj.gif"
         category="org.eclipse.pde.PDE"
         class="org.eclipse.pde.internal.wizards.extension.NewSchemaFileWizard"
         id="org.eclipse.pde.internal.wizards.extension.NewSchemaFileWizard"
         name="%new.schemaFile.name">
      <description>
         %new.schemaFile.description
      </description>
   </wizard>
   <wizard
         icon="icons/full/ctool16/convjpprj_wiz.gif"
         category="org.eclipse.pde.PDE"
         availableAsShortcut="false"
         class="org.eclipse.pde.internal.wizards.project.ConvertedProjectWizard"
         id="org.eclipse.pde.internal.wizards.project.ConvertedProjectWizard"
         name="%new.convert.name">
      <description>
         %new.convert.description
      </description>
   </wizard>
   <wizard
         icon="icons/full/ctool16/newpcomp_wiz.gif"
         category="org.eclipse.pde.PDE"
         class="org.eclipse.pde.internal.component.NewComponentProjectWizard"
         finalPerspective="org.eclipse.pde.internal.PDEPerspective"
         id="org.eclipse.pde.internal.component.NewComponentProjectWizard"
         project="true"
         name="%new.component.name">
      <description>
         %new.component.description
      </description>
   </wizard>
</extension>
<extension
      point="org.eclipse.pde.projectGenerators">
   <wizard
         icon="icons/full/ctool16/defcon_wiz.gif"
         class="org.eclipse.pde.internal.wizards.project.PluginCodeGeneratorWizard"
         id="org.eclipse.pde.projectGenerators.default"
         name="%projectGenerators.defaultPlugin.name">
      <description>
         %projectGenerators.defaultPlugin.description
      </description>
   </wizard>
   <wizard
         icon="icons/full/ctool16/defcon_wiz.gif"
         class="org.eclipse.pde.internal.wizards.project.PluginCodeGeneratorWizard"
         fragmentWizard="true"
         id="org.eclipse.pde.projectGenerators.defaultFragment"
         name="%projectGenerators.defaultFragment.name">
      <description>
         %projectGenerators.defaultFragment.description
      </description>
   </wizard>
</extension>
<extension
      point="org.eclipse.ui.editors">
   <editor
         icon="icons/full/obj16/plugin_mf_obj.gif"
         contributorClass="org.eclipse.pde.internal.editor.manifest.ManifestEditorContributor"
         class="org.eclipse.pde.internal.editor.manifest.ManifestEditor"
         id="org.eclipse.pde.manifestEditor"
         default="true"
         filenames="plugin.xml"
         name="%editors.pluginManifest.name">
   </editor>
   <editor
         icon="icons/full/obj16/frgmt_mf_obj.gif"
         contributorClass="org.eclipse.pde.internal.editor.manifest.ManifestEditorContributor"
         class="org.eclipse.pde.internal.editor.manifest.FragmentManifestEditor"
         id="org.eclipse.pde.fragmentEditor"
         default="true"
         filenames="fragment.xml"
         name="%editors.fragmentManifest.name">
   </editor>
   <editor
         icon="icons/full/obj16/schema_obj.gif"
         contributorClass="org.eclipse.pde.internal.editor.schema.SchemaEditorContributor"
         class="org.eclipse.pde.internal.editor.schema.SchemaEditor"
         id="org.eclipse.pde.schemaEditor"
         default="false"
         name="%editors.schema.name"
         extensions="xsd,mxsd">
   </editor>
   <editor
         icon="icons/full/obj16/build_exec.gif"
         contributorClass="org.eclipse.pde.internal.editor.build.BuildEditorContributor"
         class="org.eclipse.pde.internal.editor.build.BuildPropertiesEditor"
         id="org.eclipse.pde.buildEditor"
         default="true"
         filenames="build.properties"
         name="%editors.buildProperties.name">
   </editor>
   <editor
         icon="icons/full/obj16/comp_mf_obj.gif"
         contributorClass="org.eclipse.pde.internal.editor.component.ComponentEditorContributor"
         class="org.eclipse.pde.internal.editor.component.ComponentEditor"
         id="org.eclipse.pde.componentEditor"
         default="true"
         filenames="install.xml"
         name="%editors.componentManifest.name">
   </editor>
</extension>
<extension
      id="PluginNature"
      name="%natures.pluginNature.name"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.eclipse.pde.internal.PluginProject">
      </run>
   </runtime>
</extension>
<extension
      id="ComponentNature"
      name="%natures.componentBuilder.name"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.eclipse.pde.internal.component.ComponentProject">
      </run>
   </runtime>
</extension>
<extension
      id="ManifestBuilder"
      name="%builders.manifestBuilder.name"
      point="org.eclipse.core.resources.builders">
   <builder>
      <run
            class="org.eclipse.pde.internal.builders.ManifestConsistencyChecker">
      </run>
   </builder>
</extension>
<extension
      id="SchemaBuilder"
      name="%builders.schemaBuilder.name"
      point="org.eclipse.core.resources.builders">
   <builder>
      <run
            class="org.eclipse.pde.internal.builders.ExtensionPointSchemaBuilder">
      </run>
   </builder>
</extension>
<extension
      id="ComponentBuilder"
      name="%builders.componentBuilder.name"
      point="org.eclipse.core.resources.builders">
   <builder>
      <run
            class="org.eclipse.pde.internal.builders.ComponentConsistencyChecker">
      </run>
   </builder>
</extension>
<extension
      point="org.eclipse.pde.newExtension">
   <category
         id="custom"
         name="%newExtension.custom">
   </category>
   <category
         id="workbench"
         parentCategory="custom"
         name="%newExtension.custom.workbench">
   </category>
   <category
         id="generic"
         name="%newExtension.generic">
   </category>
   <wizard
         icon="icons/full/ctool16/newex_wiz.gif"
         category="generic"
         availableAsShortcut="true"
         class="org.eclipse.pde.internal.wizards.extension.GenericExtensionWizard"
         id="com.ibm.etools.plugins.generic"
         name="%newExtension.generic.name">
      <description>
         %newExtension.generic.desc
      </description>
   </wizard>
</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         id="org.eclipse.pde.popupMenus"
         objectClass="org.eclipse.core.resources.IProject">
      <filter
            value="org.eclipse.jdt.core.javanature"
            name="projectNature">
      </filter>
      <action
            menubarPath="additions"
            class="org.eclipse.pde.internal.wizards.project.ConvertJavaToPDEProjectAction"
            id="org.eclipse.pde.ConvertJavaToPDEProject"
            label="%popupMenus.convert.label">
      </action>
   </objectContribution>
   <objectContribution
         nameFilter="*install.xml"
         id="org.eclipse.pde.componentJar"
         objectClass="org.eclipse.core.resources.IFile">
      <filter
            value="org.eclipse.pde.ComponentNature"
            name="projectNature">
      </filter>
      <action
            menubarPath="additions"
            enablesFor="1"
            class="org.eclipse.pde.internal.component.BuildComponentJarAction"
            id="org.eclipse.pde.BuildComponentJar"
            label="%popupMenus.createJar.label">
      </action>
   </objectContribution>
   <objectContribution
         nameFilter="*plugin.xml"
         id="org.eclipse.pde.pluginBuild"
         objectClass="org.eclipse.core.resources.IFile">
      <filter
            value="org.eclipse.pde.PluginNature"
            name="projectNature">
      </filter>
      <action
            menubarPath="additions"
            enablesFor="1"
            class="org.eclipse.pde.internal.component.BuildPluginAction"
            id="org.eclipse.pde.BuildPluginAction"
            label="%popupMenus.buildPlugin.label">
      </action>
   </objectContribution>
   <objectContribution
         nameFilter="*fragment.xml"
         id="org.eclipse.pde.fragmentBuild"
         objectClass="org.eclipse.core.resources.IFile">
      <filter
            value="org.eclipse.pde.PluginNature"
            name="projectNature">
      </filter>
      <action
            menubarPath="additions"
            enablesFor="1"
            class="org.eclipse.pde.internal.component.BuildPluginAction"
            id="org.eclipse.pde.BuildFragmentAction"
            label="%popupMenus.buildFragment.label">
      </action>
   </objectContribution>
</extension>
<extension
      point="org.eclipse.debug.core.launchers">
   <launcher
         class="org.eclipse.pde.internal.launcher.WorkbenchLauncher"
         modes="run, debug"
         id="org.eclipse.pde.WorkbenchRunLauncher"
         label="%launcher.regular.label">
   </launcher>
   <launcher
         class="org.eclipse.pde.internal.launcher.WorkbenchLauncher:tracingEnabled"
         modes="run, debug"
         id="org.eclipse.pde.TracingWorkbenchRunLauncher"
         label="%launcher.tracing.label">
   </launcher>
</extension>
<extension
      point="org.eclipse.pde.schemaMap">
   <map
         schema="schema/map/org.eclipse.ant.core/antObjects.mxsd"
         point="org.eclipse.ant.core.antObjects">
   </map>
   <map
         schema="schema/map/org.eclipse.ant.core/antTasks.mxsd"
         point="org.eclipse.ant.core.antTasks">
   </map>
   <map
         schema="schema/map/org.eclipse.ant.core/antTypes.mxsd"
         point="org.eclipse.ant.core.antTypes">
   </map>
   <map
         schema="schema/map/org.eclipse.compare/contentMergeViewers.mxsd"
         point="org.eclipse.compare.contentMergeViewers">
   </map>
   <map
         schema="schema/map/org.eclipse.compare/contentViewers.mxsd"
         point="org.eclipse.compare.contentViewers">
   </map>
   <map
         schema="schema/map/org.eclipse.compare/structureCreators.mxsd"
         point="org.eclipse.compare.structureCreators">
   </map>
   <map
         schema="schema/map/org.eclipse.compare/structureMergeViewers.mxsd"
         point="org.eclipse.compare.structureMergeViewers">
   </map>
   <map
         schema="schema/map/org.eclipse.core.resources/builders.mxsd"
         point="org.eclipse.core.resources.builders">
   </map>
   <map
         schema="schema/map/org.eclipse.core.resources/markers.mxsd"
         point="org.eclipse.core.resources.markers">
   </map>
   <map
         schema="schema/map/org.eclipse.core.resources/natures.mxsd"
         point="org.eclipse.core.resources.natures">
   </map>
   <map
         schema="schema/map/org.eclipse.core.runtime/applications.mxsd"
         point="org.eclipse.core.runtime.applications">
   </map>
   <map
         schema="schema/map/org.eclipse.core.runtime/urlHandlers.mxsd"
         point="org.eclipse.core.runtime.urlHandlers">
   </map>
   <map
         schema="schema/map/org.eclipse.core.target/targets.mxsd"
         point="org.eclipse.core.target.targets">
   </map>
   <map
         schema="schema/map/org.eclipse.debug.core/launchers.mxsd"
         point="org.eclipse.debug.core.launchers">
   </map>
   <map
         schema="schema/map/org.eclipse.debug.ui/debugModelPresentations.mxsd"
         point="org.eclipse.debug.ui.debugModelPresentations">
   </map>
   <map
         schema="schema/map/org.eclipse.help/contexts.mxsd"
         point="org.eclipse.help.contexts">
   </map>
   <map
         schema="schema/map/org.eclipse.help/contributions.mxsd"
         point="org.eclipse.help.contributions">
   </map>
   <map
         schema="schema/map/org.eclipse.help/support.mxsd"
         point="org.eclipse.help.support">
   </map>
   <map
         schema="schema/map/org.eclipse.jdt.launching/vmRunners.mxsd"
         point="org.eclipse.jdt.launching.vmRunners">
   </map>
   <map
         schema="schema/map/org.eclipse.jdt.ui/javaElementFilters.mxsd"
         point="org.eclipse.jdt.ui.javaElementFilters">
   </map>
   <map
         schema="schema/map/org.eclipse.search/searchPages.mxsd"
         point="org.eclipse.search.searchPages">
   </map>
   <map
         schema="schema/map/org.eclipse.search/searchResultSorters.mxsd"
         point="org.eclipse.search.searchResultSorters">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/actionSets.mxsd"
         point="org.eclipse.ui.actionSets">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/dropActions.mxsd"
         point="org.eclipse.ui.dropActions">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/editorActions.mxsd"
         point="org.eclipse.ui.editorActions">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/editors.mxsd"
         point="org.eclipse.ui.editors">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/elementFactories.mxsd"
         point="org.eclipse.ui.elementFactories">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/exportWizards.mxsd"
         point="org.eclipse.ui.exportWizards">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/importWizards.mxsd"
         point="org.eclipse.ui.importWizards">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/newWizards.mxsd"
         point="org.eclipse.ui.newWizards">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/perspectiveExtensions.mxsd"
         point="org.eclipse.ui.perspectiveExtensions">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/perspectives.mxsd"
         point="org.eclipse.ui.perspectives">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/popupMenus.mxsd"
         point="org.eclipse.ui.popupMenus">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/preferencePages.mxsd"
         point="org.eclipse.ui.preferencePages">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/propertyPages.mxsd"
         point="org.eclipse.ui.propertyPages">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/viewActions.mxsd"
         point="org.eclipse.ui.viewActions">
   </map>
   <map
         schema="schema/map/org.eclipse.ui/views.mxsd"
         point="org.eclipse.ui.views">
   </map>
</extension>
</plugin>
