<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.pde.internal.genericeditor.target.extension.reconciler.presentation.TargetPlatformPresentationReconciler"
            contentType="org.eclipse.pde.targetFile">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.pde.internal.genericeditor.target.extension.autocomplete.TargetDefinitionContentAssist"
            contentType="org.eclipse.pde.targetFile">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.pde.internal.genericeditor.target.extension.validator.TargedDefinitionSetupParticipant"
            contentTypeId="org.eclipse.pde.targetFile"
            extensions="target">
      </participant>
   </extension>
</plugin>
