<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!-- ======================================================================== -->
	<!-- Extension: Builder                                                       -->
	<!-- ======================================================================== -->
   <extension-point id="apiJavadocTags" name="Api Javadoc Tags" schema="schema/apiJavadocTags.exsd"/>
	<extension
			id="apitoolbuilder"
			point="org.eclipse.core.resources.builders"
			name="%apitoolBuilderName">
		<builder
			hasNature="true">
			<run
				class="org.eclipse.pde.api.tools.internal.builder.ApiToolBuilder">
			</run>
		</builder>
	</extension>

	<!-- =================================================================================== -->
	<!-- Extension: API Problem Markers                                                      -->
	<!-- =================================================================================== -->
<extension id="org.eclipse.pde.api.tools.binary_compatibility" point="org.eclipse.core.resources.markers" name="%markerBinaryCompatibility.name">
  <super
        type="org.eclipse.core.resources.problemmarker">
  </super>
  <super
        type="org.eclipse.core.resources.textmarker">
  </super>
  <persistent
        value="true">
  </persistent>
  <attribute name="flags"/>
  <attribute name="kind"/>
</extension>
 <extension
       id="org.eclipse.pde.api.tools.api_usage"
       name="%markerApiUsage.name"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <super
          type="org.eclipse.core.resources.textmarker">
    </super>
    <persistent
          value="true">
    </persistent>
    <attribute
          name="kind">
    </attribute>
 </extension>
 <extension
       id="org.eclipse.pde.api.tools.version_numbering"
       name="%markerVersionNumbering.name"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <super
          type="org.eclipse.core.resources.textmarker">
    </super>
    <persistent
          value="true">
    </persistent>
    <attribute
          name="kind">
    </attribute>
    <attribute
          name="version">
    </attribute>
 </extension>
 <extension
       id="org.eclipse.pde.api.tools.api_profile"
       name="%markerApiProfile.name"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="org.eclipse.pde.api.tools.marker.sincetags"
       name="%markerSinceTags.name"
       point="org.eclipse.core.resources.markers">
  <super
        type="org.eclipse.core.resources.problemmarker">
  </super>
  <super
        type="org.eclipse.core.resources.textmarker">
  </super>
  <persistent
        value="true">
  </persistent>
  <attribute
        name="version">
  </attribute>
  <attribute
        name="kind">
  </attribute>
 </extension>
	<!-- ======================================================================== -->
	<!-- Extension: API javadoc tags                                              -->
	<!-- ======================================================================== -->
<extension
       id="org.eclipse.pde.api.tools.javadoctags.api_tooling"
       name="%apiJavadocTags.name"
       point="org.eclipse.pde.api.tools.apiJavadocTags">
    <javadoctag
          tagid="org.eclipse.pde.api.tools.noimplement"
          restrictionmodifier="noimplement"
          tagname="noimplement"
          visibilitymodifier="api">
       <javaElement
             interface="true"
             comment="This interface is not intended to be implemented by clients.">
       </javaElement>
    </javadoctag>
    <javadoctag
          restrictionmodifier="noextend"
          tagid="org.eclipse.pde.api.tools.noextend"
          tagname="noextend"
          visibilitymodifier="api">
       <javaElement
             class="true"
             comment="This class is not intended to be subclassed by clients.">
       </javaElement>
       <javaElement
       		 class="true"
             method="true"
             comment="This method is not intended to be extended by clients.">
       </javaElement>
       <javaElement
             comment="This interface is not intended to be extended by clients."
             interface="true">
       </javaElement>
    </javadoctag>
    <javadoctag
          restrictionmodifier="noinstantiate"
          tagid="org.eclipse.pde.api.tools.noinstantiate"
          tagname="noinstantiate"
          visibilitymodifier="api">
       <javaElement
             class="true"
             comment="This class is not intended to be instantiated by clients.">
       </javaElement>
    </javadoctag>
    <javadoctag
          restrictionmodifier="noreference"
          tagid="org.eclipse.pde.api.tools.noreference"
          tagname="noreference"
          visibilitymodifier="private">
       <javaElement
             class="true"
             interface="true"
             field="true"
             comment="This field is not intended to be referenced by clients.">
       </javaElement>
       <javaElement
       		 class="true"
       		 interface="true"
             method="true"
             comment="This method is not intended to be referenced by clients.">
       </javaElement>
    </javadoctag>
 </extension>
	<!-- ================================================================== -->
	<!-- Extension: API nature                                              -->
	<!-- ================================================================== -->
 <extension
       id="apitoolnature"
       name="%nature_name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="org.eclipse.pde.api.tools.internal.natures.ApiToolProjectNature">
       </run>
    </runtime>
    <requires-nature
          id="org.eclipse.jdt.core.javanature">
    </requires-nature>
    <requires-nature
          id="org.eclipse.pde.PluginNature">
    </requires-nature>
    <builder
          id="org.eclipse.pde.api.tools.apitoolbuilder">
    </builder>
 </extension>
	<!-- ================================================================== -->
	<!-- Extension: API preferences                                         -->
	<!-- ================================================================== -->
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.pde.api.tools.internal.ApiPluginPreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ant.core.antTasks">
    <antTask
          class="org.eclipse.pde.api.tools.internal.tasks.ApiFileGenerator"
          library="lib/apitooling-ant.jar"
          name="apitooling.apifilesgenerator">
    </antTask>
 </extension>
</plugin>
