<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.pde.core"
   name="%pluginName"
   version="2.1.2"
   provider-name="Object Technology International, Inc.">

<requires>
   <import plugin="org.apache.ant"/>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.ant.core"/>
   <import plugin="org.eclipse.jdt.core"/>
   <import plugin="org.eclipse.update.core"/>
</requires>

<runtime>
   <library name="pdecore.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Applications -->

<extension id="buildScript" point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.pde.internal.core.BuildScriptGeneratorApplication"/>
   </application>
</extension>
<extension id="fetchScript" point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.pde.internal.core.FetchScriptGeneratorApplication"/>
   </application>
</extension>


<!-- Tasks -->

<extension point="org.eclipse.ant.core.antTasks">
   <antTask
         name="initTemplate"
         class="org.eclipse.pde.internal.core.tasks.InitTemplate">
   </antTask>
</extension>
<extension point="org.eclipse.ant.core.antTasks">
   <antTask
         name="fetch"
         class="org.eclipse.pde.internal.core.tasks.FetchTask">
   </antTask>
</extension>
<extension point="org.eclipse.ant.core.antTasks">
   <antTask
         name="buildscript"
         class="org.eclipse.pde.internal.core.tasks.BuildScriptGeneratorTask">
   </antTask>
</extension>
<extension point="org.eclipse.ant.core.antTasks">
   <antTask
         name="buildManifest"
         class="org.eclipse.pde.internal.core.tasks.BuildManifestTask">
   </antTask>
</extension>
<extension point="org.eclipse.ant.core.antTasks">
   <antTask
         name="pluginLocation"
         class="org.eclipse.pde.internal.core.tasks.PluginLocationTask">
   </antTask>
</extension>


<!-- Types -->

<extension point="org.eclipse.ant.core.antTypes">
   <antType
         name="stripMapper"
         class="org.eclipse.pde.internal.core.types.StripMapper">
   </antType>
</extension>


<!-- Objects -->

<extension point="org.eclipse.ant.core.antObjects">
   <antObject
         name="org.eclipse.pde.internal.core.JDTCompilerAdapter"
         class="org.eclipse.pde.internal.core.JDTCompilerAdapter">
   </antObject>
</extension>

</plugin>