<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.pde.build"
   name="%pluginName"
   version="2.2"
   provider-name="%providerName">

<requires>
   <import plugin="org.eclipse.ant.core"/>
   <import plugin="org.eclipse.jdt.core"/>
   <import plugin="org.eclipse.update.core"/>
</requires>

<runtime>
   <library name="pdebuild.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Applications -->

<extension id="buildScript" point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.pde.internal.build.BuildScriptGeneratorApplication"/>
   </application>
</extension>
<extension id="fetchScript" point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.pde.internal.build.FetchScriptGeneratorApplication"/>
   </application>
</extension>
<extension id="generateSourceBuildScripts" point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.pde.internal.build.SourceBuildScriptGeneratorApplication"/>
   </application>
</extension>


<!-- Objects -->
<extension point="org.eclipse.ant.core.antObjects">
   <antObject
      name="org.eclipse.pde.internal.core.JDTCompilerAdapter"
      class="org.eclipse.pde.internal.core.JDTCompilerAdapter"
      library="lib/pdebuild-ant.jar">
   </antObject>
</extension>


<!-- Tasks -->

<extension point="org.eclipse.ant.core.antTasks">
   <antTask
      name="initTemplate"
      class="org.eclipse.pde.internal.build.tasks.InitTemplate"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="eclipse.initTemplate"
      class="org.eclipse.pde.internal.build.tasks.InitTemplate"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="fetch"
      class="org.eclipse.pde.internal.build.tasks.FetchTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="eclipse.fetch"
      class="org.eclipse.pde.internal.build.tasks.FetchTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="buildscript"
      class="org.eclipse.pde.internal.build.tasks.BuildScriptGeneratorTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="eclipse.buildScript"
      class="org.eclipse.pde.internal.build.tasks.BuildScriptGeneratorTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="buildManifest"
      class="org.eclipse.pde.internal.build.tasks.BuildManifestTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="eclipse.buildManifest"
      class="org.eclipse.pde.internal.build.tasks.BuildManifestTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="pluginLocation"
      class="org.eclipse.pde.internal.build.tasks.PluginLocationTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
   <antTask
      name="eclipse.pluginLocation"
      class="org.eclipse.pde.internal.build.tasks.PluginLocationTask"
      library="lib/pdebuild-ant.jar">
   </antTask>
</extension>


<!-- Types -->

<extension point="org.eclipse.ant.core.antTypes">
   <antType
      name="stripMapper"
      class="org.eclipse.pde.internal.build.types.StripMapper"
      library="lib/pdebuild-ant.jar">
   </antType>
   <antType
      name="eclipse.stripMapper"
      class="org.eclipse.pde.internal.build.types.StripMapper"
      library="lib/pdebuild-ant.jar">
   </antType>
</extension>

</plugin>