<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.pde.core"
   name="%pluginName"
   version="0.9.0"
   provider-name="International Business Machines Corp.">

<!-- Required plugins -->

<requires>
   <import plugin="org.eclipse.ant.core"/>
   <import plugin="org.eclipse.jdt.core"/>
   <import plugin="org.apache.xerces"/>
</requires>

<!-- Runtime -->

<runtime>
   <library name="pdecore.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extension points -->


<!-- Extensions -->
<extension
      point="org.eclipse.ant.core.antObjects">
   <antObject
         name="org.eclipse.pde.internal.core.JDTCompilerAdapter"
         class="org.eclipse.pde.internal.core.JDTCompilerAdapter">
   </antObject>
</extension>
<extension
      point="org.eclipse.ant.core.antTasks">
   <antTask
         name="initTemplate"
         class="org.eclipse.pde.internal.core.InitTemplate">
   </antTask>
</extension>
</plugin>
