<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.pde.spy.core.spyPart">
      <spyPart
            description="%description"
            icon="$nl$/icons/osgi.svg"
            name="%name"
            part="org.eclipse.pde.spy.bundle.BundleSpyPart"
            shortcut="M2+M3+F12">
      </spyPart>
   </extension>
</plugin>
