<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2008, 2009 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.eclipse.pde.ds.core.content-type"
            name="%content-type.name"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://www.osgi.org/xmlns/scr/v1.1.0}component">
            </parameter>
         </describer>
      </content-type>
   </extension>

<!-- ================================================================================= -->
<!-- Builders 																		   -->
<!-- ================================================================================= -->
   
      <extension
         id="org.eclipse.pde.ds.core.builder"
         name="%builders.dsBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.ds.core.builders.DSBuilder">
         </run>
      </builder>
   
   </extension>
   
<!-- ================================================================================= -->
<!-- Markers                                                                           -->
<!-- ================================================================================= -->
   <extension
         id="problem"
         name="%builders.marker.label"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="id"/>
      <attribute name="categoryId"/>
      <persistent value="true"/>
   </extension>
   
</plugin>
