<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="org.eclipse.pde.ds.core.content-type"
            name="%content-type.name"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="component">
            </parameter>
         </describer>
      </content-type>
   </extension>
   
      <extension
         id="org.eclipse.pde.ds.core.DSBuilder"
         name="%builders.dsBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.pde.internal.ds.core.builders.DSBuilder">
         </run>
      </builder>
   
   </extension>
</plugin>
