<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.pde.junit.runtime"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName">

   <runtime>
      <library name="pdejunit.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jdt.junit.runtime"/>
      <import plugin="org.eclipse.ui" optional="true"/>
      <import plugin="org.junit"/>
   </requires>


   <extension
         id="uitestapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.pde.internal.junit.runtime.UITestApplication">
            <parameter
                  name="productInfo"
                  value="product.ini">
            </parameter>
         </run>
      </application>
   </extension>
   <extension
         id="coretestapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.pde.internal.junit.runtime.CoreTestApplication">
         </run>
      </application>
   </extension>

</plugin>
